<div class="profile-header">
  <div class="profile-picture">
    <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, alt: "personnal cave", class: "card-cave-img"%>
      <% else %>
        <%= image_tag('profile-pic.jpg', alt: "profile picture", class: "profil-img") %>
    <% end %>
  </div>
  <div class="profile-name">
    <p><%= current_user.email %></p>
  </div>
  <div class="position-edit-favicon">
    <%= link_to '<i class="fas fa-user-edit"></i>'.html_safe, "#", id:"favicon-profile-edit" %>
  </div>
</div>

<div class="log-out">
  <%#= link_to "Sign out", destroy_user_session_path, method: :delete, class:"sign-out-btn" %>
</div>
