// Define variables for your color scheme

// For example:
$red: #9A1F40;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #e8e2e2c4;

$primary-color: #9A1F40;
$secondary-color: #D9455F;
$green-contrasting: #74D4C0;
$light-green: #DEF4F0;

$red-wine: #9c1d3d;
$pink-wine: #efa280;
$white-wine: #efb800;
$gray-footer: #4f3a3a;
$title-color: #453A38;

// Color Orginal
$background : #F5F5F5;
$card-like: #8bd1c040;
$card-unlike: #e8d3d77d;
$wine-show: #e8e2e2c4;



// color DEMO DAY
// $background-demo: #e8e6e6;
$background-demo: #f1efef;
$card-like-demo: #8bd1c08f;
$card-unlike-demo: #e6ced2;
$wine-show-demo: #d4d4d4;

// Back Demo 2
$background-demo2: #dedede;
$wine-show-demo2: #afafaf;

// $contrasting-profil-card:
