// Define variables for your color scheme

// For example:
$red: #9A1F40;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #e8e2e2c4;

$primary-color: #9A1F40;
$secondary-color: #D9455F;
$green-contrasting: #74D4C0;
$light-green: #DEF4F0;
