.empty-cave {
  width: 95vw;
  min-height: calc(100vh - 270px);
  background-image: image_url('empty-cave.jpeg');
  background-size: cover;
  color: white;
  text-align: center;
  font-weight: bold;
}

.empty-cave-content {
  padding-top: 200px;
  p {
    margin-bottom: 60px;
  }
}

.cave-card-color {
  background-color: white;
}

.wine-ribbon {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.red-wine-card, .white-wine-card, .pink-wine-card {
  display: flex;
}

.title-wine-color {
  display: flex;
  align-items: center;
  margin-left: 4px;
  h1 {
    font-size: 20px;
  }
}

.red-bottle-count-cave-show {
  margin-right: 5px;
  margin-left: 5px;
  height: 50px;
  width: 50px;
  background-color: $red-wine;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  p {
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
}

.white-bottle-count-cave-show {
  margin-right: 5px;
  margin-left: 5px;
  height: 50px;
  width: 50px;
  background-color: $white-wine;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
}

.pink-bottle-count-cave-show {
  margin-right: 5px;
  margin-left: 5px;
  height: 50px;
  width: 50px;
  background-color: $pink-wine;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0 auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
}

.bottle-count-title-cave-show {
   p {
    margin: 0 auto;
    margin-left: 4px;
    color: #453A38;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
}
