.empty-review {
  width: 95vw;
  text-align: center;
  font-weight: bold;
}

.empty-review-content {
  padding-top: 16px;
  padding-bottom: 16px;
  p {
    font-size: 24px;
    color: $primary-color;
    font-family: "Nunito", "Helvetica", "sans-serif";
    padding: 10px;
  }
}

