.empty-review {
  width: 95vw;
  min-height: calc(100vh - 220px);
  background-image: image_url('wine-review.jpeg');
  background-size: cover;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.empty-review-content {
  padding-top: 40px;
  p {
    font-size: 24px;
    color: $primary-color;
    font-family: "Nunito", "Helvetica", "sans-serif";
    padding: 10px;
  }
}

// .create-history-link {
//   bottom: 60px;
//   position: fixed;
//   margin: 0 auto;
//   display: flex;
//   width: 100%;
//   justify-content: center;
//   background-color: white;
//   padding: 10px;
// }
