<div class="current-cave-name">
  <h1> La cave de Saint Mandé</h1>

</div>


<div class="wine-show-card">

  <div class="wine-image">
    <%= image_tag 'https://medias.nicolas.com/media/sys_master/images/he2/h5b/9113560350750.png', class: "wine-show-img" %>
      <div class="wine-quantity">
        <h3>Qty: 12</h3>
      </div>
  </div>

  <div class="wine-information">
    <div class="wine-title">
      <h1><strong>Chateau Poujeaux 2015</strong></h1>
    </div>
    <div class="wine-description">
      <h3> <strong>Region:</strong> Bordeaux </h3>
      <h3> <strong>Cépages:</strong> Cabernet franc, Cabernet sauvignon, Merlot, Petit verdot </h3>
    </div>
    <div class="wine-meal"><i class="fal fa-cheese-swiss"></i>
      <h3>-Mets-</h3>

       <!--  <i class="fal fa-steak"></i>
        <i class="fal fa-fish"></i> -->
    </div>
    <div class="wine-apogee">
    <h3> 2018</h3>
    <div class="progress">
      <div class="progress-bar" style="width:75%;" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
    <h3> 2021</h3>
  </div>
  </div>

</div>

