
<div class="homepage-container">
<div class="home-page-image">
    <%= image_tag('wine-homepage.png', alt: "homepage picture", class: "home-picture") %>
  </div>
  <div class="home-page-title">
    <h1>La meilleure manière de boire votre vin</h1>
  </div>
  <div class="btn-homepage">
   <p><%= link_to "Je gère mes caves", caves_path, class: "create-a-cave-btn" %></p>
  </div>
</div>
