<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<i class='fas fa-fish'></i>
<i class='fas fa-bacon'></i>
<i class='fas fa-cheese'></i>
<i class='fas fa-cheese'></i>
<i class="fas fa-chart-pie"></i>
<i class="fas fa-egg"></i>
<i class='fas fa-fish'></i>
<i class="fas fa-utensils"></i>
<i class="fas fa-drumstick-bite"></i>
<i class='fas fa-birthday-cake'></i>
<i class='fas fa-water'></i>
<i class='fas fa-bread-slice'></i>
<i class="fas fa-cloud-meatball"></i>

