.wine-apogee {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
  // margin-top: 60px;
  h3 {
    font-size: 10px;
    margin-bottom: 0;
  }
}

.progress-bar {
  position: relative;
  font-size: 6em;
  width: 100px;
  height: 1rem;
  background-color: $primary-color;
  .a-depassee {
  font-size: 12px;
  margin: 0 auto;
  padding-bottom: 4px;
}
}

.progress {
  border-radius: 10px;
  width: 170px;
  margin: 0 5px;
  border: 1px solid #bda6ac;
}

