
// FOR CREATE CAVE BUTTON
.container-cave {
  position: relative;
}

.create-cave-link {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid $green-contrasting;
  border-radius: 50%;
  top: 5px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green-contrasting;
}

#favicon-add-cave {
  color: white;
  font-size: 20px;
}
// END FOR CREATE CAVE BUTTON
