
.filter-btn {
    border-radius: 5px;
    color: white;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    padding: 0px;
      &:hover{
    color: #582630;
  }
  }

// FOR CREATE CAVE BUTTON
.container-cave {
  position: relative;
}

//Also used for take out a bottle from a cave show
.create-cave-link {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 5px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
}

#favicon-add-cave {
  color: white;
  font-size: 20px;
}
// END FOR CREATE CAVE BUTTON

// SHOW WINE
.add-wine-to-my-cave-btn {
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover{
    text-decoration:none;
    color: $primary-color;
  }
}

// END SHOW WINE

// Search btn

.my-btn {
  padding: 6px 15px;
  text-align: center;
  &:hover{
    text-decoration:none;
  }
}

.search-btn {
    border-radius: 0px 5px 5px 0px;
    color: white;
    background-color: $primary-color;
    border: 1px solid $primary-color;
      &:hover{
    color: #582630;
  }
  }

  .add-bottle {
    color: white;
    background-color: $primary-color;
    border-radius: 5px;
    font-weight: lighter;
    padding: 8px;
    &:hover{
    text-decoration:none;
    color: white;
    }
  }

.take-bottle-out-btn {
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: white;
}

.take-bottle-out {
  height: 30px;
  width: 30px;
  min-width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green-contrasting;
}


// Wine index

.add-bottle-in {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 5px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
}


// Wine Show

.add-wine-from-cave-show {
  display: flex;
  justify-content: space-around;
  margin: 16px 0 8px 0;
  .add-bottle{
    background-color: $secondary-color;
    font-size: 12px;
  }
}

