// Card - Cave Index

.cave-card {
  height: 230px;
  background-color: $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-img {
  width: 35%;
  height: 230px;
  object-fit: cover;
}

.card-info {
  height: 230px;
  h3 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.card-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.little-bottle {
  height: 130px;
  width: 100%;
}
.card-element p {
  font-size: 1.2rem;
}

// SHOW WINE

.wine-show-card {
  display: flex;
  background-color: $light-gray;
  height: 230px;
  box-shadow: -4px 13px 20px -21px rgba(0,0,0,0.75);
  .wine-show-img {
    height: 80%;
    width: 30vw;
    object-fit: cover;
  }
}

.wine-title {
  border-radius: 0px 10px 10px 0px;
  // width: 100%;
  position: relative;
  padding-top: 8px;
  h1 {
    color: $black;
    font-size: 20px;
  }
}

.wine-description {
  overflow: hidden;
  height: 80px;
  // text-align: left;
  color: black;
  position: relative;
  flex-grow: 1;
  h3 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
}

.wine-meal {
  height: 20px;
  text-align: center;
  h3 {
    font-size: 16px;
  }
}

.wine-quantity {
  text-align: center;
  margin-top: 10px;
  h3 {
    font-size: 15px;
    color: $primary-color;
  }
}

.wine-apogee {
  display: flex;
  align-items: center;
  margin-top: 60px;
  h3 {
    font-size: 10px;
    margin-bottom: 0;
  }
}

.progress-bar {
  position: relative;
  box-sizing: border-box;
  font-size: 6em;
  width: 100px;
  height: 30px;
  background-color: $primary-color;
  border: 1px solid #bda6ac;
}

.progress {
  border-radius: 10px;
  width: 70%;
  margin: 0 5px;
  border: 1px solid #bda6ac;
}

.current-cave-name {
  height: 40px;
  background-color: $light-gray;
  margin-bottom: 10px;
  text-align: center;
  h1 {
    font-size: 20px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
