.custom-container{
  padding: 70px 10px;
  background-color: white;
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  width: 100vw;
  overflow: hidden;
}

.custom-container-home{
  padding: 90px 10px;
  background-color: $primary-color;
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  width: 100vw;
  overflow: hidden;
}

.review-page-title, .history-page-title  {
  height: 40px;
  background-color: $light-gray;
  margin-bottom: 10px;
  text-align: center;
  h1 {
    font-size: 20px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


