.custom-container{
  padding: 45px 10px 70px 10px;
  background-color: $background-demo;
  min-height: 100vh;
  margin: 0 auto;
  width: 100vw;
  overflow: hidden;
}

.custom-container-home{
  padding: 90px 10px;
  background-color: $primary-color;
  min-height: 100vh;
  margin: 0 auto;
  width: 100vw;
  overflow: hidden;
}




