.set-filters{
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  .f-set {
    background-color: #ababab;
    width: 100px;
    height: 20px;
    text-align: center;
    font-size: 11px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #3e3e3e;
    p {
      margin: 0;
    }
  }
}

.filter-section {
  p {
    font-size: 11px;
    margin: 0;
    text-align: center;
  }
}

#reset-filters {
  color: black;
  margin-right: 16px;
}



.filter-action {
  display: flex;
  justify-content: center;
  margin: 5px 0 20px 0;
}

