// CAVE NEW FORM

.section-title {
  h1 {
    text-align: center;
    font-family: Montserrat;
  }
}

// BOTTLE NEW
.form-add-bottles {
  margin-top: 20px;
}

.add-bottle-btn {
  color: white;
  border: 1px solid $primary-color;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: $primary-color;
  width: 100%;
  margin-top: 18px;
  &:hover {
    opacity: 1;
    color: white;
    border: 1px solid $secondary-color;
    background-color: $secondary-color;
    text-decoration: none;
    border-radius: 50px;
  }
  &:focus {
    opacity: 0.6;
    color: white;
    text-decoration: none;
    border-radius: 50px;
  }
}

// form card adjustement

.remove-bottle-title {
  margin-bottom: 120px;
}

.add-bottle-title {
  margin-bottom: 100px;
}

.bottle-form-card {
  margin-left: 20px;
}

.wine-index-card {
.bottle-form-img {
    width: 200px;
    left: -44px
  }
}

.quantity-form {
  color: $primary-color;
  width: 100px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

.back-to-cave {
  color: black;
  position: absolute;
  left: 10px;
  bottom: 70px;
  &:hover {
    text-decoration: none;
    color: $primary-color;
  }
}
