.navbar-lewagon {
  justify-content: center;
  height: 80px;
  background: #F5F5F5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}




.navbar-lewagon .navbar-logo img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-top: 25px;
}



