.navbar-lewagon {
  justify-content: center;
  height: 80px;
  background: $primary-color;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-logo img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-top: 25px;
}

.navbar-nav > .nav-link {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}


.navbar-btn {
  color: rgba(0, 0, 0, 0.5);
  border-color: white;
  background-color: transparent;
}

#navbar-mm .navbar-toggler-icon {
    filter: invert(1);
}

.min_navbar {
  width: 100vw;
  z-index: 1000;
  height: 40px;
  background: $background-demo2;
  position: fixed;
  top: 0;
}
