.cave-page-title, .history-page-title, .wine-index-page-title, .form-page-title, .cave-bottle-page-title, .new-cave-page-title {
  height: 40px;
  background-color: $light-gray;
  margin-bottom: 10px;
  text-align: center;
  h1 {
    font-size: 20px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.review-page-title {
  h1 {
  font-family: 'Open Sans', sans-serif;
  color: #453A38;
  font-size: 20px;
  }
}
