.profile-header {
  text-align: center;
  margin: 20px 30px;
  .profil-img {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  .profile-name{

  }
}

// Profil img
